.main
{
    display:flex;
    flex-direction: column;
    padding-left:1rem;
    padding-top:3rem; 
    padding-right:1rem;
    height:60vh;
    background: url(https://www.scdn.co/i/free/bubbles-dktp.svg) center  no-repeat, linear-gradient(-45deg, rgb(108, 14, 224) -5%, rgb(240, 55, 166));
}

.main h1
{
    color:#fff;
    font-size:2.9rem;
    font-weight: 700;
}
.main div
{
    display:flex;
    justify-content:center;
    align-items:center;
    font-weight:500;
    font-size:1rem;
    background-color:#fff;
    padding:.7rem 1.5rem;
    border-radius:50px;
    white-space:nowrap;
    cursor:pointer;
    margin-top:1.8rem;
    width:8rem;
    transform:scale();
    transition:all .1s;
}
.btn-hover:hover
{
    transform:scale(1.05);
}
