*
{
    margin: 0;
    padding:0;
    box-sizing: border;
}

.main-question
{
    display:flex;
    flex-direction:column;
    overflow-x: hidden;
    align-items:center;
    padding:2rem 0rem;
}
.question-answer
{
    border-bottom:2px solid #f6f6f6;
    
     /* border to bottom */
}
.question-container
{
    display:flex;
    margin: auto;
    width: 90%;
    flex-direction:column;
    /* padding:1rem 2rem; */
}
.question
{
    /* border:2px solid #000; */
    cursor :pointer;
    display:flex;
    justify-content: space-between;
    padding:1.7rem 1.5rem;
    transition:background-color 0.1s;

}
.question:hover
{

    background-color:#f6f6f6;
    text-decoration:underline;
}
.question p
{
    font-size: 1rem;
    font-weight: 700;
}

.close
{
    max-height: 0px;
    overflow: hidden;
    transition:max-height 0.1s;
}
.open
{
    max-height:1000px;
    box-sizing: border;
    transform:translateX(0);
}
/* checking open and close fucntionality */
.p-tag
{
    padding:0rem 1.4rem 1.4rem 1.4rem;
}
.p-tag p
    
{
    padding:0.4rem 0rem;
    color:#191919;
    /* font-weight: 500; */
}
li
{
    line-height:1.5;
    font-weight: 500;
}

@media screen and (min-width:750px)
{
    .question-container
    {
        max-width: 850px;
    }

}

@media screen and (min-width:1150px)
{
    .question-container
    {
        max-width:1200px;
    }
}