*
{
  margin:0;
  padding:0;
  box-sizing: border;
}

body::-webkit-scrollbar {
  width: 5px; 
                /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: black;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: gray;    /* color of the scroll thumb */
  border-radius: 10px;       /* roundness of the scroll thumb */  /* creates padding around scroll thumb */
}

body {
  /* overflow-x: hidden; */
  margin: 0;
  font-family: spotify-circular,Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
